<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dnd_Offers::offer" title="Offers" module="Dnd_Offers" sortOrder="1" parent="Magento_CatalogRule::promo"
             action="offers/offer" resource="Dnd_Offers::offer"/>
    </menu>

</config>
